ul {
  list-style-type: none;
}

li {
  cursor: pointer;
  border: 1px solid black;
  width: 20px;
  padding: 10px;
  border-radius: 5px;
  margin:auto;
}

li:hover {
    background-color: antiquewhite;
}

li:active {
    font-weight: bold;
}
